{% extends "CRGSBRBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block body %}
    <h2 class="text-center">Liste des Médicaments</h2><br/>
    <table class="table table-bordered">
        <tr>
            <th width="50%">Nom commercial</th>
            <th width="50%">Famille</th>
        </tr>
        {% for unMedicament in lesMedicaments %}
            <tr>
                <td style="color:#0099FF">{{unMedicament.getNomCommercial}}</td>
                <td>{{unMedicament.getFamille.getLibelleFamille}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}